<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/"><i class="fas fa-dollar-sign"></i> Pricing Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href=" {{ url_for('stores.index') }}">
                    <i class="fas fa-store"></i> Stores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('alerts.index') }}">
                    <i class="fas fa-bell"></i> Alerts
                </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if session['email'] %}
            <li class="nav-item">
                <p class="nav-link">
                    Logged in as: {{ session['email'] }}
                </p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.edit') }}">
                    <i class="fas fa-user"></i> Profile
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('users.login') }}">
                    <i class="fas fa-sign-in-alt"></i> Log in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('users.register') }}">
                    <i class="fas fa-user-plus"></i> Sign up
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link " href=" {{ url_for('users.logout') }}">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </a>
            </li>
        </ul>
    </div>
</nav>