{% extends 'base.html' %}

{% block content %}
<header>
    <h1><i class="fas fa-bell"></i> Alerts</h1>
</header>
<section>
    <div class="list-group mb-3">
        {% for alert in alerts %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <img height="20" width="20" src={{'http://www.google.com/s2/favicons?domain=' + alert.item.url }} />
                <a href="{{ alert.item.url }}">{{ alert.name }}</a>
            </h4>
            <p>
                Last price: <span class="two-number-decimal">{{ alert.item.price }}</span>
            </p>
            {% if alert.item.price < alert.price_limit %}
            <div class="alert alert-success" role="alert">
                This item is within your price range (less than
                <span class="two-number-decimal">{{ alert.price_limit }}</span>)!
            </div>
            {% endif %}

            <a class="btn btn-secondary my-1 edit" href="{{ url_for('alerts.edit', alert_id=alert._id) }}" tabindex="0"
                role="button" aria-pressed="false">
                Edit
            </a>

            <a href="{{ url_for('alerts.delete', alert_id=alert._id) }}">
                <button class="btn btn-danger my-1 delete">Delete</button>
            </a>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('alerts.new') }}">
        <button class="btn btn-primary create">
            Create new
        </button>
    </a>
</section>
{% endblock %}