{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Alerts</h1>
</header>
<section>
    <div class="list-group mb-3">
        {% for alert in alerts %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <img height="20" width="20" src={{'http://www.google.com/s2/favicons?domain=' + alert.item.url }} />
                {{ alert.name }}
            </h4>
            <p>
                last price: {{ alert.item.price }}
            </p>
            <p>
                <a href="{{ alert.item.url }}">{{ alert.item.url }}</a>
            </p>
            <a href="{{ url_for('alerts.edit', alert_id=alert._id) }}">
                <button class="btn btn-secondary">Edit</button>
            </a>
            <a href="{{ url_for('alerts.delete', alert_id=alert._id) }}">
                <button class="btn btn-danger">Delete</button>
            </a>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('alerts.new') }}">
        <button class="btn btn-primary">
            Create new
        </button>
    </a>
</section>
{% endblock %}