{% extends 'base.html' %}

{% block content %}
<header>
    <h1>
        Update Store:
        <img height="20" width="20" src={{'http://www.google.com/s2/favicons?domain=' + store.url_prefix }} />
        {{ store.name }}
    </h1>
</header>
<section class="update-store-form">
    <form method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Lewis"
                value="{{ store.name }}" />
        </div>
        <div class="form-group">
            <label for="url_prefix">URL Prefix</label>
            <input type="text" class="form-control" id="url_prefix" name="url_prefix"
                placeholder="https://www.johnlewis.com" value="{{ store.url_prefix }}"
                aria-describedby="urlPrefixHelp" />
            <small class="form-text text-muted" id="urlPrefixHelp">
                What url will all its items start with?
            </small>
        </div>
        <div class="form-group">
            <label for="tag_name">HTML Tag name</label>
            <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder='span'
                value="{{ store.tag_name }}" aria-describedby="tagNameHelp" />
            <small class="form-text text-muted" id="tagNameHelp">
                What HTML tag contains the price information for items in this store?
            </small>
        </div>
        <div class="form-group">
            <label for="query">HTML Query</label>
            <input type="text" class="form-control" id="query" name="query"
                placeholder='{"class": "price price--large"}' value="{{ store.query | replace("'", "\"") }}"
                aria-describedby="queryHelp" />
            <small class="form-text text-muted" id="queryHelp">
                What attributes are on the element that contain the price? This is so we can find it on the page?
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</section>
{% endblock %}