<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% include 'partials/head/base.html' %}
</head>

<body class="d-flex flex-column h-100">

    <header class="header">
        {% include 'partials/header/base.html' %}
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container mb-3">

            <div class="mb-3">
                {% include 'partials/flash/flash_messages.html' %}
            </div>

            <div class="mb-3">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    {% include 'partials/footer/base.html' %}

</body>

</html>