{% extends 'base.html' %}

{% block content %}
    <header>
        <h1>
            Log in
        </h1>
    </header>
    <section class="login-form">
        <form method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="john@gmail.com"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </section>
{% endblock %}

